{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container px-md-0">
		<div class="row d-flex no-gutters">
			{% for post in posts %}
			{%if post.id|divisibleby:2 %}
			<div class="col-md-12 portfolio-wrap">
				<div class="row no-gutters align-items-center">
					<a href="{{post.image.url}}"
						class="col-md-6 img image-popup js-fullheight d-flex align-items-center justify-content-center"
						style="background-image: url({{post.image.url}});">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-expand"></span>
						</div>
					</a>
					<div class="col-md-6">
						<div class="text pt-5 pl-0 px-lg-5 pl-md-4 ftco-animate">
							<div class="px-4 px-lg-4">
								<div class="desc">
									<div class="top">
										<span class="subheading">
											{% for cat in post.category.all %}
											<a href="#" data-category-id="{{cat.id}}"
												class="tag-cloud-link">{{cat.title}}</a>
											{% if not forloop.last %}
											,
											{% endif %}
											{% endfor %}
										</span>
										<h2 class="mb-4"><a href="{% url 'blog:list-view' %}">{{post.title}}</a></h2>
									</div>
									<div class="absolute">
										<p>{{post.caption}}</p>
									</div>
									<p><a href="{% url 'blog:detail-view' slug=post.slug %}" class="custom-btn">View
											Portfolio</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col-md-12 portfolio-wrap">
				<div class="row no-gutters align-items-center">
					<a href="{{post.image.url}}"
						class="col-md-6 order-md-last img image-popup js-fullheight d-flex align-items-center justify-content-center"
						style="background-image: url({{post.image.url}});">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-expand"></span>
						</div>
					</a>
					<div class="col-md-6">
						<div class="text pt-5 px-md-5 ftco-animate">
							<div class="px-4 px-lg-4">
								<div class="desc text-md-right">
									<div class="top">
										<span class="subheading">
											{% for cat in post.category.all %}
											<a href="#" data-category-id="{{cat.id}}"
												class="tag-cloud-link">{{cat.title}}</a>
											{% if not forloop.last %}
											,
											{% endif %}
											{% endfor %}
										</span>
										<h2 class="mb-4"><a href="{% url 'blog:list-view' %}">{{post.title}}</a></h2>
									</div>
									<div class="absolute">
										<p>{{post.caption}}</p>
									</div>
									<p><a href="{% url 'blog:detail-view' slug=post.slug %}" class="custom-btn">View
											Portfolio</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

{% block extra_js %}
<script>
	$(document).ready(function () {
		$(".tag-cloud-link").click(function (e) {
			e.preventDefault();
			let category_id = $(this).data("category-id");
			let current_url = new URL(window.location.href);
			current_url.searchParams.set("category", category_id);
			window.location.href = `{% url 'blog:list-view'%}?category=${category_id}`;
		});
	});
</script>
{% endblock extra_js %}

{% endblock content %}
